<h1>New Game</h1>
<p>Find me in app/views/games/new.html.erb</p>
<form action="score" method="post">
  <input type="text" name="input" placeholder="Name">
  <input type="submit" value="Play">
</form>
